<h2>Create a new apartment</h2>
<form name="form" (ngSubmit)="createApartment()" novalidate>
  <mat-input-container>
    <input matInput id="name" type="text" placeholder="Add the name of the apartment" name="name" [(ngModel)]="newApartment.name"
      #name="ngModel" required>
  </mat-input-container>

  <mat-input-container>
    <input matInput id="description" type="text" placeholder="Add the apartment descripton" name="description" description="description" [(ngModel)]="newApartment.description"
      #description="ngModel">
  </mat-input-container>

  <mat-input-container>
    <input matInput id="location" type="text" placeholder="Add the postcode of the apartment" name="location" location="location" [(ngModel)]="newApartment.location"
      #location="ngModel">
  </mat-input-container>

  <mat-select [(ngModel)]="newApartment.availability" id="availability" name="availability">
      <mat-option value="true">Yes</mat-option>
      <mat-option value="false">No</mat-option>
  </mat-select>

  <mat-input-container>
    <input matInput id="label" type="text" placeholder="Add labels dividied by a comma" name="label" label="label" [(ngModel)]="newApartment.label"
      #label="ngModel">
  </mat-input-container>

  <button mat-raised-button>Save</button>
</form>
