<div class="wrapper">
  <div class="content">

    <form class="form" name="edit-apartment-form" (ngSubmit)="f.form.valid && apartmentUpdate(apartmentToBeModified._id, apartmentToBeModified, f)" #f="ngForm"
      novalidate>

      <input type="hidden" value="{{apartmentToBeModified._id}}" name="id">

      <mat-form-field>
        <input matInput type="text" id="name" value="{{apartmentToBeModified.name}}" #name="ngModel" placeholder="Apartment Name"
          [(ngModel)]="apartmentToBeModified.name" name="apartment-name">
      </mat-form-field>
        
      <mat-form-field>
        <input matInput type="text" id="description" value="{{apartmentToBeModified.description}}" #description="ngModel" placeholder="Add the apartment description"
          [(ngModel)]="apartmentToBeModified.description" name="apartment-description">
      </mat-form-field>

      <mat-form-field>        
        <input matInput type="text" value="{{apartmentToBeModified.location}}" #location="ngModel" placeholder="Add the apartment location"
          [(ngModel)]="apartmentToBeModified.location" name="apartment-location">
      </mat-form-field>

      <mat-form-field>
        <mat-select name="availability" [(ngModel)]="apartmentToBeModified.availability" #availability="ngModel">
          <mat-option value="true">Available</mat-option>
          <mat-option value="false">Unavailable</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="apartmentToBeModified.apartmentType === 'local'">
        <input matInput *ngIf="apartmentToBeModified.family[0]" type="text" value="{{apartmentToBeModified.family[0].name}}" #family="ngModel" placeholder="apartment family"
            [(ngModel)]="apartmentToBeModified.family[0].name" name="apartment-family" disabled>
        <input matInput *ngIf="!apartmentToBeModified.family[0]" type="text" value="This apartment is not part of a Group" placeholder="apartment family" name="apartment-family" disabled>
      </mat-form-field>

      <mat-form-field> 
        <input matInput type="date" value="{{apartmentToBeModified.labels}}" #labels="ngModel" [(ngModel)]="apartmentToBeModified.labels"
          name="istance-labels">
      </mat-form-field>

      <p *ngIf="apartmentToBeModified.updatedAt && apartmentToBeModified.updatedBy" class="updatedBy">Updated by {{apartmentToBeModified.updatedBy.firstName}} {{apartmentToBeModified.updatedBy.lastName}} on {{apartmentToBeModified.updatedAt | date:'short'}}</p>

      <button mat-raised-button>Save apartment</button>
    </form>

  </div>
</div>