<h2>Create a new room</h2>
<form name="form" (ngSubmit)="createRoom()" novalidate>
  <mat-form-field>
    <input matInput id="name" type="text" placeholder="Add the name of the room" name="name" [(ngModel)]="newRoom.name"
      #name="ngModel" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput id="description" type="text" placeholder="Add the room descripton" name="description" description="description" [(ngModel)]="newRoom.description"
      #description="ngModel">
  </mat-form-field>

  <mat-form-field>
    <input matInput id="location" type="text" placeholder="Add the postcode of the room" name="location" location="location" [(ngModel)]="newRoom.location"
      #location="ngModel">
  </mat-form-field>

  <mat-select [(ngModel)]="newRoom.availability" id="availability" name="availability">
      <mat-option value="true">Yes</mat-option>
      <mat-option value="false">No</mat-option>
  </mat-select>

  <mat-form-field>
    <input matInput id="label" type="text" placeholder="Add labels dividied by a comma" name="label" label="label" [(ngModel)]="newRoom.label"
      #label="ngModel">
  </mat-form-field>

  <button mat-raised-button>Save</button>
</form>
