<app-topnav>Loading...</app-topnav>
<h3 *ngIf="currentUser">Hello {{currentUser.firstName}}!!</h3>

<mat-grid-list cols="2" rowHeight="2:1" id="apartments-grid">
  <div *ngFor="let apartment of apartments">
    <mat-grid-tile>
      <mat-grid-tile-header>
        {{apartment.name}}
      </mat-grid-tile-header>
      {{apartment.description}}
      <mat-grid-tile-footer class="grid-footer">
        <button mat-raised-button routerLink="/apartments/{{apartment._id}}">View</button>
        <button mat-raised-button routerLink="/apartments/edit/{{apartment._id}}">Edit</button>
        <button mat-raised-button (click)="deleteApartment(apartment._id)" >Delete</button>  
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </div>
</mat-grid-list>

<app-create-apt class="new-apartment"></app-create-apt>
