
<div class="wrapper fullscreen">
  <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
    <legend>Create an Account</legend>
    <mat-form-field>
      <input matInput type="firstName" placeholder="Your first name" name="firstName" [(ngModel)]="data.firstName" #firstName="ngModel" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="lastName" placeholder="Your last name" name="lastName" [(ngModel)]="data.lastName" #lastName="ngModel" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" placeholder="Your email" name="email" [(ngModel)]="data.email" #email="ngModel" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Type a password" name="password" [(ngModel)]="data.password" #password="ngModel" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="passwordConfirmation" placeholder="Type the password again" name="passwordConfirmation" [(ngModel)]="data.passwordConfirmation" #passwordConfirmation="ngModel" required>
    </mat-form-field>
    <div>
      <button mat-raised-button [disabled]="loading">Register</button>
      <!-- <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> -->
    </div>
    <button mat-raised-button title="Enter password above first" (click)="forgotPassword()" type="button" [disabled]="!email.valid">Forgot password<span *ngIf="!data.email">? Enter your email address above first.</span></button>
  </form>
</div>